<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat APP</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <h1 class="room-message">Welcome <%= username %> to <%= roomname %>
    </h1>
    <div class="window">
        <div id="chatLog">
            <div>Initially</div>
            <div>Empty!</div>
        </div>
        <div class='userInput'>
            <input type="text" id="message" placeholder="Enter message">
            <button id="send">Send</button>
        </div>
    </div>
    <div class="online">
        <p class="users-online">Users Online</p>
        <div class="users">
        </div>
    </div>

    <script src="room.js"></script>
</body>

</html>